.container
	.row-fluid
		.span12
			%ul.breadcrumb
				%li
					%a{href: "/"}
						Home
					%span.divider /
				%li
					%a{href: "/countries"}
						Countries
					%span.divider /
				%li.active
					= @country.iso3

				%li.pull-right
					%span.divider /
					%a.text-success{href: "/countries/#{@country.iso3}/edit"}
						Edit
	.row-fluid
		.span12
			%h1.page-header
				Country:
				= @country.name

	
	.row-fluid
		.span8
			%h2
				Country codes:
			%table.table.table-hover.sortable
				%thead
					%tr
						%th 
							Field
						%th
							Value
				%tbody			
					- Country.canonical_keys.each do |field|
						%tr
							%td
								= field.to_s
							%td
								= @country.send(field)
		.span4
			.well
				%h2
					Aliases:
				%ul.unstyled
					- @country.aliases.each do |a|
						%li
							= a
				%span.btn.btn-info{onclick: "$(this).slideUp();$('.new-alias').parent().slideDown();$('.new-alias').focus();"}
					Add an alias
				.alert.alert-success{style: "display:none;"}
					%input.new-alias{type: 'text', name: "alias"}
					%span.btn.btn-success{onclick: "send_alias()" }
						Save

:javascript
	send_alias = function () {
		this_alias = $('.new-alias').val()
		console.log(this_alias)
		$.post(
			'/countries/#{@country.iso3}/aliases', 
			{alias: this_alias}
			, function(data) {location.reload()}
			)
		}