.container
	.row-fluid
		.span12
			%ul.breadcrumb
				%li
					%a{href: "/"}
						Home
					%span.divider /
				%li.active
					%a{href: "/countries"}
						Countries
	.row-fluid
		.span12
			%h1.page-header
				All Countries
	.row-fluid
		.span12
			%table.table.table-hover.sortable
				%thead
					%tr
						%th
							Name
						- keys = [:iso2, :iso3, :iso_numeric]
						- keys.each do |n|
							%th
								= n.to_s.capitalize
						%th
							
				%tbody
					- @countries.each do |c|
						%tr
							%td
								%a{href: "/countries/#{c.iso3}"}
									= c.name || "[No Name]"
							- keys.each do |n|
								%td<>
									= c.send(n)
							%td
								%a{href: "/countries/#{c.iso3}"}
									See all names & codes &rarr;