!!!
%head
	%link{rel: 'stylesheet', href: '/bootstrap/css/bootstrap.min.css'}
	%link{rel: 'stylesheet', href: "/stylesheets/bootstrap-sortable.css" }
	%script{src: '/javascripts/jquery.js'}
	%script{src: '/bootstrap/js/bootstrap.min.js' }
	%script{src: '/javascripts/bootstrap-sortable.js'}
	%script{src: '/javascripts/underscore.js'}
	%script{src: '/javascripts/backbone.js'}
	%script{src: '/javascripts/backbone.marionette.js'}

	:css
		body {
			background-image: url('/images/background_1.jpg');
		}

		.page-content {
			background-color: rgba(255,255,255, 1);
			padding: 10px;
			box-shadow: 0px 20px 30px black;

		}

		.modal {
			width: 800px !important;
			margin-left: -400px !important;
		}

		.navbar {
			margin-bottom: 0px;
		}
		
	%script
		= CoffeeScript.compile File.read(settings.root + "/public/coffeescripts/application.coffee")
	%title
		Countrysaurus
%body
	%header
		.container-fluid
			%nav.navbar
				.navbar-inner
					%span.brand
						Countrysaurus
					%ul.nav
						%li
							%a{href: "/"}
								Home
						%li
							%a{href: "/countries"}
								Countries
						%li.dropdown
							%a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
								Downloads
								%b.caret
							%ul.dropdown-menu
								%li
									%a{href: "/countries/csv"}
										Country Codes (CSV copy of this database)
								%li
									%a{href: "/data/sources.zip"}
										Source CSVs (ZIP file)
						%li.dropdown
							%a.dropdown-toggle{"data-toggle" => "dropdown"}
								API
								%b.caret
							.dropdown-menu{style: "padding:8px;"}
								%p
									Make a 
									%tt 
										GET
									request with a
									%tt
										name
									parameter to 
									%tt
										= "/standardize"

									, for example, to standardize "Congo":
									%a{href: "/standardize?name=Congo"}
										name=congo
									= "."
								%p
									Returns a JSON array of country objects.
						%li.dropdown
							%a.dropdown-toggle{"data-toggle" => "dropdown"}
								Stats
								%b.caret
							%ul.dropdown-menu{style: "padding:8px;"}
								%li
									%strong
										Countries Standardized:
									= Stat.find_or_initialize_by_name("countries_standardized").value
								%li.divider
								%li
									%strong
										Spreadsheet Cells Served:
									= Stat.find_or_initialize_by_name("spreadsheet_cells_served").value
								%li.divider

								%li.text-success
									%strong
										Human hours saved:
									= Stat.find_or_initialize_by_name("human_hours_saved").value
	.page-content.container
		=yield
